.DS_Store
.DS_Store?
._*
*.xml
*.log
*.db
*.db-journal
*.conf
*.sqlite
*.swp
*.pyc
.smb*

.homekit.state
.HA_VERSION
.storage/
/deps
OZW_Log.txt
secrets.yaml
known_devices.yaml
ip_bans.yaml
.uuid
www/z-wave-graph.json

ssl_key.pem
ssl_cert.pem
